/*
   New Perspectives on HTML and CSS
   Tutorial 3
   Case Problem 2

   Mountain Wheels Text and Color Style
   Author: 
   Date:   

   Filename:         mw_layout.css
   Supporting Files: none

*/

/* Section Styles */

body {
    margin: 0px auto;
    padding: 0px;
    line-height: 1.5em;
    width: 98%;
    max-width: 980px;
    min-width: 250px;
    font-family: Tahoma, Geneva, sans-serif;
    height: 1100px;
}


nav {
    background-color: rgb(125, 120, 89);
    line-height: 3em;
}
 nav ul {
    list-style: none; /* Remove default bullets */
}
    nav a:link {
        color: #fff; /* white */
        color: rgba(255, 255, 255, 0.5); /* 50% opacity white */
        text-decoration: none;
}

    nav ul {
        background-color:rgb(131, 121, 36);
            }
    nav ul a:hover {
        color: yellow;
        color: rgba(255, 255, 255, 1.0);
    }

header h1 {
    font-size: 18px;
    font-weight: normal;
    text-align: center
}

div a {
leftsection;
font-size: 22px;
   }

section p::first-line {
    text-transform: uppercase;
}
div a
section blockquote {
    background-color: rgb(131, 121, 36);
    font:white;
    font-size:16px;
    font-family:'Comic Sans MS','Times New Roman',cursive
}

section blockquote p{
    quotes: """ """
        }

div b h1{
    font-size:22px;
    font-weight:normal;
    text-align:center;
 }

div b h2 {
    font-size:18px;
    text-align: right;
    font-weight:normal
        }


div b p {
    color:gray;
    font-size: 14px;
    text-align:justify
}

style .footer {
    font-size:16px;
    text-transform:initial;
    text-align: center;
}


